body{
      background: linear-gradient(to bottom right, rgb(4, 4, 4),#0b0b0b,rgb(12, 12, 12),rgb(0, 30, 0));
      color: white;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      height: auto;
      width: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      overflow-x: hidden;
}

header{
      margin-top: -1em;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      text-align: center;
      margin-bottom: 5em;
      padding: 2%;
      background-color: transparent;      
}

#Person-Container{
      top: 0;
      position: fixed;      
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      background: linear-gradient(to bottom right, rgb(0, 0, 0),rgb(0, 0, 0),rgb(0, 20, 10));
      border-bottom: 0.2em solid rgb(0, 112, 28);
      box-shadow: 0 0 10px #0f0,
      0 0 15px #0ff;
      padding: 2% 2% 2% 2%;
      z-index: 2;
      border-radius: 0 0 100% 100%;
      overflow: hidden;
}

#Person{
      font-size: 150%;
      z-index: inherit
}

#Person-Container:hover{
      background: linear-gradient(to right, rgb(1,1,1),#000 , rgb(5, 45, 0));
      box-shadow: 0 0 20px #0f0,
      0 0 30px #0ff;
}

#Person-Container:hover #White-Line{
      animation: glance 5s ease-in-out infinite;
}

h3{
      font-size: clamp(1rem, 2vw, 2.5rem);
      font-weight: bolder;
}

main{
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      margin: 1em;
      font-size: large;
      background: linear-gradient(to bottom right, rgb(1,1,1), rgb(3, 3, 3), rgb(6, 8, 8));
      padding: 2%;
      border-radius: 20px;
      text-align: justify;
      transition: all 0.3s ease-in-out;
      /* animation: name duration timing-function delay iteration-count direction fill-mode; */
      /* animation-name: slideInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-in; */
      box-shadow: 0 0 10px #0f0,
      0 0 15px #0ff;
}

main:hover{
      transform: translate(-6px, -10px) scale(1.009);
      background: linear-gradient(to left, rgb(1,1,1), rgb(29,21,150));
      box-shadow:
      0 0 5px #0f0,
      0 0 7px #0ff,
      0 0 12px #0ff,
      0 0 20px #0ff,
      0 0 40px #0f0;
}


#Borg{
      display: flex;
      justify-content: center;
      background-color: #000;
      margin-bottom: 1em;
      margin-top: 0.5em;
      border-radius: 20px;
      transform: scaleX(0.95);
      box-shadow: 0 0 10px #0f0,
      0 0 15px #0f0;
      flex-direction: column;
      transition: all 0.3s ease-in-out;
}

#Borg:hover{
      transform: translate(-3px, -3px) scaleX(0.9875) scaleY(1.03);
      background: linear-gradient(to left, rgb(29,21,150), rgb(1,1,1));
      box-shadow: 0 0 10px #0f0,
      0 0 10px #00f,
      0 0 20px #0f0,
      0 0 30px #0ff,
      0 0 15px #0ff;
      
}

#Borg:hover #School-Picture{
      filter: drop-shadow(0 0 25px rgb(0, 0, 0));
}

#School-Picture
{
      display: flex;
      justify-content: center;
      margin-bottom: -5.5em;
      width: 100%;
      height: 100%;
      transform: scale(0.8);
      transition: all 0.6s ease-in-out;
      filter: drop-shadow(0 0 5px rgb(133, 78, 78, 0.6));
}

#School-Text-Container
{
      position: relative;
      background: linear-gradient(to bottom right, rgb(1,1,1), rgb(3, 3, 3), rgb(6, 8, 8));
      box-shadow: 0 0 10px #0f0,
      0 0 15px #0ff;
      margin-bottom: 0.5rem;
      padding: 2%;
      display: inline;
      width: 50%;
      border-radius: 20px;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      border: #0f0 solid 0.1em;
      transition: all 0.3s ease-in-out;
}

#School-Text-Container:hover
{
      transform: scale(1.02)  translate(-51%, -1%);
      background: linear-gradient(to left, rgb(29,21,150), rgb(1,1,1));
      box-shadow: 0 0 10px #0f0,
      0 0 10px #00f,
      0 0 20px #0f0,
      0 0 30px #0ff,
      0 0 15px #0ff;
}

#School-Text
{
      text-align: center;
}

#Borg-Experience-img{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
}

#Borg-Experience-img-CSharp{
      width: 70%;
      height: 70%;
      z-index: 3;
      transform: translate(20%, 30%);
      filter: drop-shadow(0 0 15px rgb(99, 78, 133));
      transition: all 0.3s ease-in-out;
}

#Borg-Experience-img-CSharp:hover{
      filter: drop-shadow(0 0 15px rgb(194, 149, 210));
      transform: scale(1.05) translate(19%, 24%);
}

#CSharp, #Web{
      width: 50%;
      height: 50%;
}

#Borg-Experience-img-Web{
      width: 40%;
      height: 40%;
      z-index: 3;
      transform: translate(10%, 32%);
      filter: drop-shadow(0 0 15px rgb(78, 133, 99));
      transition: all 0.3s ease-in-out;
}

#Borg-Experience-img-Web:hover{
      filter: drop-shadow(0 0 15px rgb(135, 140, 230));
      transform: scale(1.05) translate(8%, 28%);
}


#Borg-Experience{
      display: flex;
      text-align: justify;
      gap: 20px;
      justify-content: center;
      padding: 6% max(3%, 1em) max(3%, 1em) max(3%, 1em);
}

#Web-Technick-Borg, #Programmier-Technick-Borg
{
      position: relative;
      display: flex;
      background: linear-gradient(to bottom right, rgb(23, 23, 23), rgb(36, 36, 36), rgb(24, 25, 56));
      padding: min(3%, 1em);
      border-radius: 20px;
      transition: all 0.3s ease-in-out;
}

@property --angle {
      initial-value: 0deg;
      syntax: '<angle>';
      inherits: true;
}

#Neon-Glow::after, .Neon-Glow::before 
{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: conic-gradient(from var(--angle),transparent 70%,#0f0);
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      z-index: -1;
      padding: 0.25rem;
      border-radius: 20px;
      animation: 3s spin linear infinite;
      
}
#Neon-Glow::before {
      filter: blur(2.5rem);
      opacity: 0.5;
}

@keyframes spin {
      0% { --angle: 0deg; }
      100% { --angle: 360deg; }
}


.Neon-Glow:hover
{
      z-index: 1;
      transform: translate(-6px, -10px) scale(1.02);
      background: linear-gradient(to left, rgb(29, 21, 115),rgb(4, 110, 0));
      box-shadow: 0 0 10px #0f0,
      0 0 10px #00f,
      0 0 20px #0f0,
      0 0 30px #0ff,
      0 0 15px #0ff;
}

article{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 1em;
      font-size: large;
      background: linear-gradient(to bottom right, rgb(1,1,1), rgb(3, 3, 3), rgb(6, 8, 8));
      border-radius: 20px;
      padding: 3%;
      text-align: center;
      justify-content: space-around;

      /* transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease;
      transition-delay: 0s; */
      transition: all 0.3s ease-in-out;
      box-shadow: 0 0 10px #0f0,
      0 0 15px #0ff;
}

article:hover {
      transform: translate(-6px, -10px) scale(1.009);
      background: linear-gradient(to left, rgb(29,21,150), rgb(1,1,1));   
      box-shadow: 0 0 10px #0f0,
      0 0 10px #00f,
      0 0 20px #0f0,
      0 0 30px #0ff,
      0 0 15px #0ff;

}

#Programmierung{
      display: flex;
      gap: 2em;
      animation: bounce 2s ;
}

@keyframes bounce{ 
  0%   { transform: translateY(0); }
  10%  { transform: translateY(-40px); }
  20%  { transform: translateY(0); }
  30%  { transform: translateY(-30px); }
  40%  { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  60%  { transform: translateY(0); }
  70%  { transform: translateY(-10px); }
  80%  { transform: translateY(0); }
  90%  { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

#Web-Basiert{
      border-radius: 20px;
      background: linear-gradient(to bottom right, rgb(23, 23, 23), rgb(36, 36, 36), rgb(24, 25, 56));
      padding: 1%;
      flex-wrap: wrap;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 0 10px #0f0,
      0 0 15px #0ff;
}

#Web-Basiert:hover{
      transform: translate(-6px, -10px) scale(1.04);
      background: linear-gradient(to left, rgb(29, 21, 115),rgb(4, 110, 0));
      box-shadow: 0 0 10px #0f0,
      0 0 10px #00f,
      0 0 20px #0f0,
      0 0 30px #0ff,
      0 0 15px #0ff;
}

#Programmierungs-Basiert{
      border-radius: 20px;
      background: linear-gradient(to bottom right, rgb(23, 23, 23), rgb(36, 36, 36), rgb(24, 25, 56));
      padding: 1%;
      flex-wrap: wrap;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 0 10px #0f0,
      0 0 15px #0ff;
}

#Programmierungs-Basiert:hover{
      transform: translate(-6px, -10px) scale(1.04);
      background: linear-gradient(to left,rgb(4, 110, 0), rgb(29, 21, 115));
      box-shadow: 0 0 10px #0f0,
      0 0 10px #00f,
      0 0 20px #0f0,
      0 0 30px #0ff,
      0 0 15px #0ff;
}

#Datenbank-Basiert{
      border-radius: 20px;
      background: linear-gradient(to bottom right, rgb(23, 23, 23), rgb(36, 36, 36), rgb(24, 25, 56));
      padding: 1%;
      flex-wrap: wrap;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 0 10px #0f0,
      0 0 15px #0ff;
}

#Datenbank-Basiert:hover{
      transform: translate(-6px, -10px) scale(1.04);
      background: linear-gradient(to left, rgb(29, 21, 115),rgb(4, 110, 0));
            box-shadow: 0 0 10px #0f0,
      0 0 10px #00f,
      0 0 20px #0f0,
      0 0 30px #0ff,
      0 0 15px #0ff;
}

footer{
     display: flex;
     text-align: center;
     font-size: large;
     align-items: flex-end;
     justify-content: flex-start;
     margin-top: 7em;
     padding: 2%;
}

@media (max-width: 750px){

#Programmierung{
      flex-direction: column;
      font-size: large;
      text-align: justify;
      gap: 1em;
}

header{
      margin-bottom: 2em;
}

article{
            padding: 3%;
      }

#Person{
      font-size: 160%;
}
}

@media (max-width: 600px)
{

      header{
            margin-bottom: 1em;
      }

      main{
            font-size: large;
            padding: 4%;
            text-align: center;

      }

      #Person{
            font-size: 100%;
      }

      #School-Picture{
            transform: scale(0.6);
            margin-bottom: -6.6em;
      }

      #Borg-Experience{
            text-align: left;
      }

      footer{
            font-size: 10px;
      }

      article{
            font-size: medium;
            padding: 4%;
            flex-direction: column;
            text-align: center;
      }

      #Web-Basiert, #Datenbank-Basiert, #Programmierungs-Basiert{
            padding: 4%;
      }
      
      article:hover{
            transform: translate(-6px, -10px) scale(1.01);
      }

      #Web-Basiert:hover{
            transform: translate(-6px, -10px) scale(1.01);
            background: linear-gradient(to left, rgb(29, 21, 115),rgb(4, 110, 0));
      }

      #Programmierungs-Basiert:hover{
            transform: translate(-6px, -10px) scale(1.01);
            background: linear-gradient(to left,rgb(4, 110, 0), rgb(29, 21, 115));
      }

      #Datenbank-Basiert:hover{
            transform: translate(-6px, -10px) scale(1.01);
            background: linear-gradient(to left, rgb(29, 21, 115),rgb(4, 110, 0));
      }


}

@media (max-width: 520px)
{
      header{
            margin-bottom: 0.6em;
      }

      main{
            font-size: medium;
      }

      article
      {
            padding: 5.4%;	
            font-size: 30px;
      }

      #Borg-Experience-img-Web{
            transform: translate(2%, 32%);
      }

      #Web-Basiert, #Programmierungs-Basiert, #Datenbank-Basiert
      {
            padding: 4.5%;
            text-align: center;
      }

      #Web-Basiert:hover{
            transform: translate(-4px, -8px) scale(1.01);
            background: linear-gradient(to left, rgb(29, 21, 115),rgb(4, 110, 0));
      }

      #Programmierungs-Basiert:hover{
            transform: translate(-4px, -8px) scale(1.01);
            background: linear-gradient(to left,rgb(4, 110, 0), rgb(29, 21, 115));
      }

      #Datenbank-Basiert:hover{
            transform: translate(-4px, -8px) scale(1.01);
            background: linear-gradient(to left, rgb(29, 21, 115),rgb(4, 110, 0));
      }
}

@media (max-width: 350px)
{
      header{
            margin-bottom: -0.5em;
      }

      #Person{
            font-size: 90%;
      }

      #School-Picture{
            transform: scale(0.5);
            margin-bottom: -7em;
      }

      #Web-Basiert, #Programmierungs-Basiert, #Datenbank-Basiert
      {
            padding: 3.6%;
            font-size: medium;
            text-align: center;
      }

      article{
            padding: 0% 3%;
      }

      #Programmierung{
            gap: 16px;
            padding: 0% 3%;
      }

      #Web-Basiert:hover{
            transform: translate(-2px, -4px) scale(1.001);
            background: linear-gradient(to left, rgb(29, 21, 115),rgb(4, 110, 0));
      }

      #Programmierungs-Basiert:hover{
            transform: translate(-2px, -4px) scale(1.001);
            background: linear-gradient(to left,rgb(4, 110, 0), rgb(29, 21, 115));
      }

      #Datenbank-Basiert:hover{
            transform: translate(-2px, -4px) scale(1.001);
            background: linear-gradient(to left, rgb(29, 21, 115),rgb(4, 110, 0));
      }
}
