/* For whole content */

body{
      background: linear-gradient(to bottom, rgb(1, 2, 11), rgb(5, 8, 28), rgb(13, 15, 13) );
      color: white;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      height: auto;
      width: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow-x: hidden;

}


/* header */
header{
      margin-top: -1em;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      text-align: center;
      margin-bottom: 5em;
      padding: 2%;
      background-color: transparent;      
}

#Person-Container{
      top: 0;
      position: fixed;      
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      background: linear-gradient(to bottom right, rgb(0, 0, 0),rgb(0, 0, 0),rgb(0, 20, 10));
      border-bottom: 0.2em solid rgb(0, 112, 28);
      box-shadow: 0 0 10px #0f0,
      0 0 15px #0ff;
      padding: 2% 2% 2% 2%;
      z-index: 2;
      border-radius: 0 0 100% 100%;
      overflow: hidden;
}

#Person{
      font-size: 150%;
      z-index: inherit
}

#Person-Container:hover{
      background: linear-gradient(to right, rgb(1,1,1),#000 , rgb(5, 45, 0));
      box-shadow: 0 0 20px #0f0,
      0 0 30px #0ff;
}

/*  For all h3 tags */
h3{
      font-size: clamp(1rem, 2vw, 2.5rem);
      font-weight: bolder;
}

/* general Inforamtion*/

main{
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      margin: 1em;
      font-size: large;
      background-color: #0f140d;
      padding: 2%;
      border-radius: 20px;
      text-align: justify;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 0 10px #0f0,
      0 0 15px #0ff;
}

main:hover{
      transform: translate(-6px, -10px) scale(1.009);
      background: linear-gradient(to left, rgb(1,1,1), rgb(29,21,150));
      box-shadow:
      0 0 5px #0f0,
      0 0 7px #0ff,
      0 0 12px #0ff,
      0 0 20px #0ff,
      0 0 40px #0f0;
}

/* Borg related*/
#Borg{
      display: flex;
      justify-content: center;
      background-color: #0f140d;
      margin-bottom: 1em;
      margin-top: 0.5em;
      border-radius: 20px;
      transform: scaleX(0.95);
      box-shadow: 0 0 10px #0f0,
      0 0 15px #0f0;
      flex-direction: column;
      transition: all 0.3s ease-in-out;
      padding-top: -1em;
      font-size: larger;
}

#Borg:hover{
      transform: translate(-3px, -3px) scaleX(0.9875) scaleY(1.03);
      background: linear-gradient(to left, rgb(29,21,150), rgb(1,1,1));
      box-shadow: 0 0 10px #0f0,
      0 0 10px #00f,
      0 0 20px #0f0,
      0 0 30px #0ff,
      0 0 15px #0ff;
}

#Borg:hover #School-Picture{
      filter: drop-shadow(0 0 25px rgb(0, 0, 0));
}

#Borg:hover #Borg-Experience-img-CSharp{
      filter: drop-shadow(0 0 40px rgba(255, 0, 255, 0.782));
}

#Borg:hover #Borg-Experience-img-Web{
      filter: drop-shadow(0 0 40px rgba(0, 0, 255, 0.718));
}

#School-Picture
{
      display: flex;
      justify-content: center;
      margin-bottom: -4.5em;
      width: 100%;
      height: 100%;
      transform: scale(0.8);
      transition: all 0.6s ease-in-out;
      filter: drop-shadow(0 0 5px rgb(133, 78, 78, 0.6));
}

#School-Text-Container
{
      position: relative;
      background: linear-gradient(to bottom right, rgb(1,1,1), rgb(3, 3, 3), rgb(6, 8, 8));
      box-shadow: 0 0 10px #0f0,
      0 0 15px #0ff;
      margin-bottom: 0.5rem;
      padding: 2%;
      display: inline;
      width: 50%;
      border-radius: 20px;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      border: #0f0 solid 0.1em;
      transition: all 0.3s ease-in-out;
}

#School-Text
{
      text-align: center;
}

#Borg-Experience-img-CSharp{
      display: flex;
      justify-content: center;
      width: 50%;
      translate: 50% -5%;
      filter: drop-shadow(0 0 30px rgb(161, 11, 191))
}

#Borg-Experience-img-Web{
      display: flex;
      justify-content: center;
      width: 50%;
      translate: 50% -5%;
      filter: drop-shadow(0 0 30px rgb(26, 39, 124));
}

#WEB-Borg{
      width: 60%;
}

#Borg-Experience{
      position: relative;
      display: flex;
      text-align: justify;
      gap: 20px;
      justify-content: center;
      padding: 6% max(3%, 1em) max(3%, 1em) max(3%, 1em);
}

#Web-Technick-Borg, #Programmier-Technick-Borg
{
      position: relative;
      display: flex;
      background: linear-gradient(to bottom right, rgb(49, 49, 49), rgb(53, 53, 53), rgb(24, 25, 56));
      padding: min(2.5%, 2.5em);
      border-radius: 20px;
      flex-direction: column;
      justify-content: justify;
      text-align: center;
}

@property --angle {
      initial-value: 0deg;
      syntax: '<angle>';
      inherits: true;
}

.Neon-Glow::after, .Neon-Glow::before 
{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: conic-gradient(from var(--angle), transparent 50%, #0f0, #0ff);
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      z-index: -99;
      padding: 0.25rem;
      border-radius: 20px;
      animation: 3s spin linear infinite;
}
.Neon-Glow::before {
      filter: blur(2.5rem);
      opacity: 0.5;
}

@keyframes spin {
      0% { --angle: 0deg; }
      100% { --angle: 360deg; }
}

/* FH-JOANNEUM related*/

article{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 1em;
      font-size: larger;
      background-color: #0f140d;
      border-radius: 20px;
      padding: 3%;
      text-align: center;
      justify-content: space-around;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 0 10px #0f0,
      0 0 15px #0ff;
      transform: translate(0, 0);
}

article:hover {
      transform: translate(-6px, -10px) scale(1.009);
      background: linear-gradient(to left, rgb(29,21,150), rgb(1,1,1));   
      box-shadow: 0 0 10px #0f0,
      0 0 10px #00f,
      0 0 20px #0f0,
      0 0 30px #0ff,
      0 0 15px #0ff;
} 

article:hover #Web-img{
      filter: drop-shadow(0 0 40px rgba(0, 0, 255, 0.718));
}

article:hover #FH-Java{
      filter: drop-shadow(0 0 60px blue);
}

article:hover #DB-FH{
      filter: drop-shadow(0 0 20px rgba(0, 255, 255, 0.865));
}

#FH-Picture{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: -3.5em; 
      width: 100%;
      height: 100%;
      z-index: 1;
}

#FH-Logo{
      width: 20%;
      height: 20%;
}

#FH-Text-Container{
      position: relative;
      display: inline;
      flex-wrap: wrap;
      justify-content: center;
      background: linear-gradient(to bottom right, rgb(1,1,1), rgb(3, 3, 3), rgb(6, 8, 8));
      box-shadow: 0 0 10px #0f0,
      0 0 15px #0ff,
      0 0 20px #0f0;
      margin-bottom: 2.5rem;
      padding: 1%;
      border-radius: 20px;
      width: 50%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      transition: all 0.3s ease-in-out;
}

#FH-Text-Container:hover, #School-Text-Container:hover {
      transform: scale(1.02) translate(-51%, -1%);
      background: linear-gradient(to left, rgb(29,21,150), rgb(1,1,1));
      box-shadow: 0 0 10px #0f0,
      0 0 10px #00f,
      0 0 20px #0f0,
      0 0 30px #0ff,
      0 0 15px #0ff;
}

#Programmierung{
      position: relative;
      display: flex;
      gap: 2em;
      transition: all;
}

#Web-img{
display: flex;
justify-content: center;
width: 50%;
height: 50%;
translate: 50% -1%;
filter: drop-shadow(0 0 30px rgb(26, 39, 124));
}

#FH-Java{
display: flex;
justify-content: center;
width: 50%;
height: 50%;
translate: 50% -1%;
margin-bottom: 1rem;
filter: drop-shadow(0 0 30px blue) drop-shadow(0 0 30px rgb(136, 24, 24));
}

#DB-FH{
display: flex;
justify-content: center;
width: 60%;
height: 60%;
translate: 35% 0;  
margin-bottom: 0.5rem;
filter: drop-shadow(0 0 15px rgba(0, 145, 255, 0.768));
}

#Datenbank-Basiert, #Programmierungs-Basiert, #Web-Basiert {
      position: relative;
      border-radius: 20px;
      background: linear-gradient(to bottom right, rgb(49, 49, 49), rgb(53, 53, 53), rgb(24, 25, 56));
      padding: 1%;
      flex-wrap: wrap;
      transition: all 0.3s ease-in-out;
}

footer{
     display: flex;
     text-align: center;
     font-size: large;
     align-items: flex-end;
     justify-content: flex-start;
     margin-top: 7em;
     padding: 2%;
}

/* media queries*/

@media (min-width: 1200px) {
      
      #FH-Picture{
            transform: scale(0.7);
            margin-bottom: -6vw;
      }
}

@media (min-width: 900px) and (max-width: 1300px)
{
      #FH-Picture{
            margin-bottom: clamp(-2.75rem, -3vh, -4rem);
      }
}

@media (max-width: 900px){

#Programmierung{
      flex-direction: column;
      text-align: justify;
      gap: 1em;
      flex-shrink: 100;
} 

#Web-img, #FH-Java, #DB-FH{
      width: 30%;
      translate: 120% 0;
}

}

@media (max-width: 750px){

#Borg-Experience-img-Web{
      transform: translateY(30%);
}

header{
      margin-bottom: 2em;
}

article{
            padding: 3%;
      }

#Person{
      font-size: 160%;
}

#Borg-Experience-img-Web{
      translate: 50% -35%;
}
}
/* Smart Phone */
@media (max-width: 600px)
{

      header{
            margin-bottom: 1em;
      }

      main{
            font-size: large;
            padding: 4%;
            text-align: center;

      }

      #Borg{
            font-size: medium;
      }

      #Person{
            font-size: 100%;
      }

      #School-Picture{
            transform: scale(0.6);
            margin-bottom: -6.6em;
      }

      #Borg-Experience{
            text-align: left;
            flex-direction: column;
      }

      footer{
            font-size: 10px;
      }

      article{
            font-size: medium;
            padding: 4%;
            flex-direction: column;
            text-align: center;
      }

      #Web-Basiert, #Datenbank-Basiert, #Programmierungs-Basiert{
            padding: 4%;
      }
      
      article:hover{
            transform: translate(-6px, -10px) scale(1.01);
      }

}

@media (min-width: 520px) and (max-width: 900px)
{
     #Web-Basiert, #Programmierungs-Basiert, #Datenbank-Basiert
      {
            padding: 3%;
            text-align: center;
      }

      #FH-Picture{
            margin-bottom: clamp(-30px, -2.5vh, -40px);
      }
}

@media (max-width: 520px)
{
      header{
            margin-bottom: 0.6em;
      }

      main{
            font-size: medium;
      }

      #Borg-Experience-img-Web{
            transform: translate(2%, 32%);
      }

      article
      {
            padding: 4.4%;	
            font-size: medium;
      }

      article:hover{
            transform: scale(1.015);
      }

      #FH-Picture{
            margin-bottom: -1.4rem;
      }

      #Web-Basiert, #Programmierungs-Basiert, #Datenbank-Basiert
      {
            padding: 4.5%;
            text-align: center;
      }

}

/* Small Smart Phone */
@media (max-width: 350px)
{
      header{
            margin-bottom: -0.5em;
      }

      #Person{
            font-size: 90%;
      }

      #School-Picture{
            transform: scale(0.5);
            margin-bottom: -7em;
      }

      #Web-Basiert, #Programmierungs-Basiert, #Datenbank-Basiert
      {
            padding: 3.6%;
            font-size: medium;
            text-align: center;
      }

      article{
            padding: 0% 3% 3% 4%;
      }

      #Programmierung{
            gap: 16px;
            padding:0% 3% 3% 4%;
      }

}
